.inputElement{
  height: 30px;
  width: 132px;
  box-shadow: inset 0.5 0.5 0.5 0.5 purple;
  border-radius: 9px;

}

h1 {
  color:plum;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
  width: 80px;
  height: 30px;
  margin: 10px;
  border-radius: 8px;
  background-color: darkorchid;
  color:aqua;
}
.ulElement{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient( to right, #b96fa1,#5a3f8c);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul {
  background-color: #ffffff20;
  padding: 50px;
  border-radius: 20px;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}